<%
if(logined) {
    username = `${user.username}#${user.discriminator}`;
    if(user.avatar != null) {
        avatar = `https://cdn.discord.com/avatars/${user.id}/${user.avatar}`;
    }
    else {
        avatar = `/img/guest.png`;
    }
    userdata = userdb[user.id];
    money = `${userdata.money}원`;
    usercart = cart[user.id];
}
else {
    username = `게스트`;
    avatar = `/img/guest.png`;
    money = `로그인 필요`;
}
ProductById = {};
for(var i in product) {
    ProductById[product[i].code] = {};
    ProductById[product[i].code]['title'] = product[i].title;
    ProductById[product[i].code]['description'] = product[i].description;
    ProductById[product[i].code]['image'] = product[i].image;
    ProductById[product[i].code]['price'] = product[i].price;
    ProductById[product[i].code]['buy_limit'] = product[i].buy_limit;
    ProductById[product[i].code]['buy_limit_per_user'] = product[i].buy_limit_per_user;
    ProductById[product[i].code]['left_count'] = product[i].left_count;
    ProductById[product[i].code]['run_command_after_buy'] = product[i].run_command_after_buy;
}
total_price = 0;
removed = 0;
for(var i in usercart) {
    total_price = total_price + ProductById[usercart[i]].price;
}
%>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="/js/cart.js"></script>
    <%if(IsMobile) {%>
        <link rel="stylesheet" href="/css/cart-mobile.css">
    <%} else {%>
        <link rel="stylesheet" href="/css/cart.css">
    <%}%>
    <title>웹스토어</title>
</head>

<body>
<div id="profile">
    <img id="profile_image" src="<%=avatar%>" width="64" height="64">
    <div id="profile_info" hidden>
        <h3 class="profile_info_text" id="username"><%=username%></h3>
        <p class="profile_info_text" id="money">가진 돈 : <%=money%></p>
        <%if(logined) {%>
            <a class="profile_info_text" id="login_logout" href="/logout">로그아웃</a>
        <%} else {%>
            <a class="profile_info_text" id="login_logout" href="/login">로그인</a>
        <%}%>
        <br><a class="profile_info_text" id="profile_link" href="/">메인</a>
        <a class="profile_info_text" id="profile_history" href="/history">구매 기록</a>
        <%if(logined && checkAdmin) {%>
            <br><a class="profile_info_text" id="admin_menu" href="/admin">관리자 메뉴</a>
        <%}%>
    </div>
</div>
<%if(IsMobile) {%>
    <h1 id="main_title">장바구니 - 모바일</h1>
<%} else {%>
    <h1 id="main_title">장바구니</h1>
<%}%>
<%if(usercart.length == 0) {%>
    <h2 id="sub_title">항목 : 없음</h2>
<%} else {%>
    <h2 id="sub_title">항목 : <%=usercart.length%>개</h2>
    <h2 id="sub_title">총 가격 : <%=total_price%>원</h2>
    <button id="buy">구매하기</button>
    <button id="allclear">모두 비우기</button>
<%}%>
<div id="product">
    <%for(var i in usercart) {%>
        <div class="product">
            <img class="cart_image" src="<%=ProductById[usercart[i]]['image']%>" width="128" height="128">
            <h2 class="cart_title"><%=ProductById[usercart[i]].title%></h2>
            <h3 class="cart_description"><%=ProductById[usercart[i]].description%></h3>
            <h3 class="cart_price"><%=ProductById[usercart[i]].price%>원</h3>
            <button class="cart_remove" onclick="RemoveFromCart('<%=i%>');">이 항목 삭제</button>
        </div>
    <%}%>
</div>
</body>
</html>